{% extends 'base.html' %}
{% load static %}



 {% block title %} Home Page {% endblock %}



{% block content %}



<div class="container" style="height: 100vh">
    <p>
    <br /> <b>Intro</b><br />
    <img src="{% static "/app/profile.png" %}" alt="profile" width="200" height="200">
     
    If you are visiting this page, you probably already know a bit about me. I created this page to teach myself web development and to serve as supplementary information about myself. 
    This page is built using Django Python web framework and hosted on the Microsoft Azure cloud platform. For lack of better inspiration, it can be considered it my own custom LinkedIn page where I can customize 
    the content to reflect my own style. 
    <br /><br />

    <b>Growing Up</b><br />
    I am from Longmont Coloardo and attended Niwot High School. My grew up playing sports and always had a knack for math and science. 
    My sports interests ranged from soccer, to basketball, to my more lasting ventures in hockey and baseball. By high school, I had relegated my time to 
    baseball, hockey, and my schoolwork. I'd become a favorite student among my teachers and a top student while taking AP college credit courses. 
    <br /><br />

    <b>College</b><br />
    During my senior year of High School, I joined a showcase baseball team out of Denver. I was nothing spectacular and inconsistent, I found myself with 
    a handful of scholarship offers from assorted smaller schools. I took an offer from Scottsdale Community College here in Arizona. I was excited to start fresh and 
    and supported the notion of spending my first two years at a community college. My sophomore year I made the starting rotation as a pitcher. It was 
    only after three starts I endured four cervical fractures in a rock climbing incident and was sidelined for over three months. I never earned my starting position 
    back and instead focused on my studies.
    <br /><br />
    After my time at Scottsdale, I had to decided to pursue Nuclear Engineering. However I was happy here in Arizona and more importantly out of state tuition was unreasonable. I decided to attend 
    Arizona State University and pursue the next best thing, Chemical Engineering. My classes were small, somewhere between 30 and 50 people and dwindled every year. We spent 
    countless hours in "the cave" where we wrote writing hundreds of pages of lab reports and trying to fit equations together like a game of sudoku. I graduated in May 2012 with honors 
    and near the top of my class. 
    <br /><br />

    <b> Work and Career </b><br />
    While at ASU, no longer a student athlete, I worked part time at Big 5 Sporting Goods as a sales associate. 
    I'm proud of this work because it had a monumental impact on who I am today. Working retail is humbling and teaches the importance of interpersonal skills. 
 
    <br /><br />
    After graduation it was time to pursue a career. I joined Honeywell in October 2012 as a Remote Service Engineer. The prior employee had switched groups 
    and there was an urgent vacancy. When I joined I was the sole person in the Americas supporting products I was simultaneously learning how to use. Thankfully, I had great support from 
    my manager, the prior employee, and the support group based out of Bangalore. 
    <br /><br />
    Years later, I still work in the same area. The landscape is a bit different and the applications have evolved. My support services has led me to learn the detailed working 
    of several Honeywell products used as peripherals to my applications. I've even ventured into development work in order to fill gaps and productivity issues.
    <br /><br />
    I look forward to the future and I'm excited to take on new and exciting challenges.
</p>



<br>
</div>

{% endblock %}







			