{% extends 'base.html' %}
{% load static %}



 {% block title %} Home Page {% endblock %}



{% block content %}



<div class="container">
    <p>
    <br /> <b>Intro</b><br />
    <img src="{% static "/app/profile.png" %}" alt="profile" width="200" height="200">
     
    If you are visiting this page, you probably already know a bit about me. I created this page to teach myself web development and to serve as supplementary information about myself. 
    This page is build using Django Python web framework and hosted on the Microsoft Azure cloud platform. For lack of better inspiration, it can be considered it my own custom LinkedIn page where I can customize 
    the content to reflect my own style. 
    <br /><br />

    <b>Growing Up</b><br />
    I am from a mid-sized town in Colorado called Longmont and attended Niwot High School. My passion growing up was sports but I always had an ability for math and science. 
    I played all the sports when I was just a kid, ranging from soccer, to basketball, to my more successful ventures in hockey and baseball. By high school, I had relegated my time to 
    only baseball, hockey, and my schoolwork. I'd become a favorite student among my teachers and a top student in AP Calculus, the highest math course offered by my school. 
    <br /><br />

    <b>College</b><br />
    During my senior year of High School, I joined a traveling showcase baseball team based out of Denver. I was nothing spectacular at the time and a bit inconsistent, I found myself with 
    a few scholarship offers but nothing that immediately caught my attention. I took an offer from Scottsdale Community College here in Arizona. I was ready to start fresh and 
    I had read that spending two years at a Junior College is both respectable and smart in the long run. My sophomore year I got my break and made the starting rotation as a pitcher. It was 
    only after three starts I sustained four cervical fractures in a rock climbing incident and was sidelined for over three months. This put a swift end to my baseball career as I was unable 
    to get conditioned and earn my spot back by the end of the season.
    <br /><br />
    After my time at Scottsdale, I initially wanted to pursue Nuclear Engineering. However, I was happy here in Arizona and more importantly out of state tuition was unreasonable. I decided to attend 
    Arizona State University and pursue the next best thing, Chemical Engineering. My classes were small, somewhere between 30 and 50 people and dwindled every year. We had our own room on campus we deemed 
    "the cave" where we spent countless hours writing hundreds of pages of lab reports and wracking our brains trying to fit equations together like a game of sudoku. I graduated in May 2012 near the 
    top of my class. 
    <br /><br />

    <b> Work and Career </b><br />
    While at ASU, ince I was no longer a student athlete I spent time outside of the classroom working part time at Big 5 Sporting Goods as a plain retail employee. 
    I'm proud of this work because it had a monumental impact on who I am today. Working retail humbles you. It is my opinion that people that work in the service 
    industry deserve significantly more respect than they deserve. During my time at Big 5, I worked hard for a low wage while and dealt with people that treat you 
    like you're inferior. Even still, I have a mountain of positive memories that taught me to always assume the best of people or you'll miss out on the positive experiences.
    <br /><br />
    After graduation it was time to move on from my retail position. I joined Honeywell in October 2012 as a Remote Service Engineer. The prior employee had switched groups 
    and there was a gaping vacancy. When I came on board I was the only person in the Americas supporting products that I was simultaneously learning how to use. I had great support from 
    my manager, the prior employee, and the support group based out of Bangalore. 
    <br /><br />
    Years later, I still work in the same area. The landscape is a bit different and the applications are more reliable than ever. My support services has led me to learn the detailed working 
    of several Honeywell products used as peripherals to my applications. I've even ventured into development work in order to fill gaps and productivity issues.
    <br /><br />
    I look forward to the future and I'm excited to take on new and exciting challenges.
</p>



<br>
</div>

{% endblock %}







			