{% extends 'base.html' %}
{% load static %}



 {% block title %} Home Page {% endblock %}



{% block content %}

<br />
<br />

<div class="container">

<p> Below are a handful of recent projects or achievements. 
    I chose to be very non-descript as to emphasize the relevant skills rather than details of the work.  </p>




	  <div class="row">

		<div class="col-sm-6" font-color="blue">
		<h4>Report Optimization</h4>
        <p><b>Relevant: SQL, Visual Basic, JavaScript </b> <br />
            Vastly increased the efficiency in data ingestion and report generation. 
            Reports used SQL queries that often were inefficient and using massive iterative approaches. 
            By rethinking the queries using the same schema some report queries were cut from hours to minutes.
            The reports database contained over a decade of accumulation. 
            By removing unused report from the database of current customers, the load on the parser was significantly decreased.
            </p>
		</div>

		<div class="col-sm-6">
		<h4>Customer Support Focal</h4>
              <p><b>Relevant: Customer Management, Communication</b> <br />
            Support focal for up to five seperate application valued at hundreds of thousands in support contracts. 
            Earned respect of both customer and internal contacts to an extent I am often contacted in regards to 
            applications I have no relevance to.
            </p>
		</div>
        
	  </div>
    
        <br />

      <div class="row">

		<div class="col-sm-6">
		<h4>Productivity Tools</h4>
        <p><b>Relevant: Python, C++, Excel</b> <br />           
           Using Python3, automated repetivive tasks such as file management, data mining, and report delivery. 
           This automation was used to complete tasks more accurately and quickly than had been done in the past. 
           Monthly report delivery had been reduced from days to hours and created a platform for expansion into
           including useful KPIs and additional information pulled directly from the database in the delivery.           
         </p>
		</div>

		<div class="col-sm-6">
		<h4>Data File Analytics</h4>
       <p><b>Relevant: Python, RegEx, Excel</b> <br />
           Developed applications using Python3 to help diagnose application errors. 
           This included the analysis of spreadsheets, xml files, and databases using primarily pandas dataframes.
           Our encrypted xml data files contained no discernable schema or standalone useful information. 
           By parsing the xml files using regex batch anlyses and cross referencing with configs that serve as a decoder,
           I was able to analyze raw data files in a way that had never been done.
         </p>
		</div>

        
	  </div>

        <br />
      
      <div class="row">

		<div class="col-sm-6">
		<h4>Domain Administration / Migration</h4>
         <p><b>Relevant: Server Management, Windows, VMWare </b> <br />
        Application owner for several servers and responsible for application health as well as upgrades. 
        Migrated physical machines to virtual machines with updated operating systems.
        Domain administrator in charge of permissions and account management for employee access to applications.
            </p>
		</div>

		<div class="col-sm-6">
		<h4>Web Development</h4>
        <p><b>Relevant: Python, Django, JavaScript, HTML, CSS </b> <br />
        Developed fully functional prototype for league kickball announcements, registration, and discussion feed. 
        Contained linked models for leagues, teams, and players and was designed with ease of use for the administrator in mind.
        Used a REST api for all form submissions. 
        Included paypal integration using the secure paypal API and customer forms to ensure payment during registration.
            </p>
		</div>

        
	  </div>
    


	</div> 



<br>


{% endblock %}







			