{% extends 'base.html' %}
{% load static %}


{% block content %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}





<div class="container">

    <br />

    <div class="panel-heading">
        <h4>{{ question.question_text }}</h4>
    </div>




{% for n in question.answer_set.all %}


  <ul class="list-group">

    <li class="list-group-item">
        {{n}}       
    </li>

  </ul>

{% endfor %}

    <br />


     <div class="panel-heading">
       <h4>Other Questions.</h4>
    </div>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Click Here For More Questions</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <ul class="list-group">
            {% for question in full_question_list %}
            <li class="list-group-item"><a href="{% url 'detail' question.id %}">{{ question }}</a></li>

        </ul>
          {% endfor %}
      </div>
    </div>
  </div>
 </div>





{% endblock %}



			